/* CONFIGURAÇÕES GLOBAIS */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===================================================== */

/* INDEX.HTML    CONTATOS.HTML */


/* MENU */
header {
  background-color: #593F42;
}

#logo-inicio {
  display: flex;
  float: left;
  color: white;
  margin-top: 10px;
}

/* #usuario + borda */
#usuario-inicio {
  display: flex;
  height: 64px;
  float: right;
  background-color: #F2E3B3;
  color: black;
  border: 3px solid rgba(0, 0, 0, 0.171);
  border-bottom-left-radius: 20px;
}

#topo-site-menu {
  border-bottom: 2px solid rgba(0, 0, 0, 0.171);
}

/* configurações da imagem da logo */
.logo-topo {
  display: block;
  float: left;
  width: 64px;
  padding-left: 10px;
}

/*  configurações do texto da logo e do usuário*/
.texto-topo-logo-inicial {
  display: flex;
  float: left;
  text-align: center;
  justify-content: center;
  line-height: 64px;
  font-size: 40px;
  margin-left: 20px;
}

.texto-topo-usuario {
  display: flex;
  float: left;
  text-align: center;
  justify-content: center;
  line-height: 64px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* cor padrao sem link selecionado */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 19px;
}

/* muda a cor do link selecionado */
.topnav a:hover {
  background-color: #F2E3B3;
  color: black;
}

/* muda a cor do link da pagina atual */
.topnav a.active {
  background-color: #38F29B;
  color: black;
}

.topnav .icon {
  display: none;
}

/* FIM MENU */


/* ===================================================== */


/* CONTATOS.HTML */



/* PARTE CENTRAL */
.wrapper {
  /* largura menor que a tela */
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.topo-destaque-content {
  text-align: center;
  background-color: papayawhip;
  padding-top: 20em;
  padding-bottom: 20em;
  background: url('./_img/livraria.jpg');
  background-size: cover;
  color: white;
  font-weight: 800;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.555);
}

#art-destaque {
  display: block;
  width: 100%;
  height: 100%;
  text-shadow: 1px 1px 0px black;
  background-color: rgba(0, 0, 0, 0.5);
}

#art-destaque h1 {
  font-size: 1.6em;
}

#art-destaque p {
  display: flex;
  font-size: 17px;
  line-height: 32px;
  justify-content: center;
  text-align: center;
}

#art-destaque .texto-destaque {
  padding: 0 5px;
  background-color: bisque;
  color: black;
  text-shadow: none;
}

.apresentacao-escola {
  margin-bottom: 50px;
}

.apresentacao-escola p {
  text-align: justify;
  padding: 0 100px;
}

.base-destaque-content {
  display: grid;
  text-align: center;
  background-color: #fee0cf9f;
  padding-top: 5em;
  padding-bottom: 10em;
  background-attachment: fixed;
  background-size: cover;
}

.texto-media {
  background-color: #e672309f;
  margin-bottom: 4em;
  font-size: 30px;
  padding: 20px 0;
}

.media-contatos {
  width: 560px;
  height: 315px;
  margin: 10px;
}

/* CONFIGURAÇÕES ÍCONES E TITULO*/
.icon {
  width: 32px;
  /* width of container */
  height: 32px;
  /* height of container */
  object-fit: cover;
  padding-right: 10px;
}

.contatos {
  font-size: 25px;
  width: 100%;
}

.cont {
  background-color: #F2B279;
  text-align: center;
  margin-top: 2em;
  padding: 20px 0;
}

/* FIM CONTATOS.HTML */


/* ===================================================== */


/* INDEX HTML */

/* CONFIGURAÇÕES CRUDL PÁGINA INDEX.HTML */
body>table {
  width: 80%;
}

.tabelas {
  display: block;
}

.titulo-formulario {
  font-size: 40px;
}

table.list {
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even),
table.list thead>tr {
  background-color: #dddddd;
}

.label-form {
  font-size: 18px;
}

.info-cadastro {
  margin: 20px 0;
}

input[type=text],
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],
input[type=reset] {
  background-color: #88F2AD;
  color: #000;
  font-size: 18px;
  padding: 14px 20px;
  margin: 8px 10px 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #27b170;
  transition: .5s;
}

.botoes-form {
  display: flex;
  width: 100%;
}

form div.form-action-buttons {
  text-align: right;
}

#tabela-cadastro {
  margin-bottom: 3em;
}

#alunoList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

#alunoList td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

#alunoList tr:nth-child(even) {
  background-color: #f2f2f2;
}

#alunoList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #27b170;
  color: white;
}

a {
  cursor: pointer;
  color: #135e3b;
  font-size: 18px;
}

label.validation-error {
  color: red;
  margin-left: 5px;
}

.hide {
  display: none;
}

/* FIM INDEX HTML */



/* ===================================================== */


/*  FOOTER INDEX E CONTATOS*/
footer {
  display: flex;
  background-color: #593F42;
  min-height: 100px;
  color: white;
  border-top: 2px solid rgba(0, 0, 0, 0.171);
  text-align: center;
  justify-content: center;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* FIM CONFIGURAÇÕES CSS */

/* ===================================================== */


/* MEDIA QUERY MENU */
@media screen and (max-width: 750px) {
  .topnav .responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .media-contatos {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .base-destaque-content {
    background-color: white;
  }
}

@media screen and (max-width: 500px) {
  /* #usuario + borda */
  #usuario-inicio {
    height: 40px;
    border-bottom-left-radius: 20px;
  }

  /* configurações da imagem da logo */
  .logo-topo {
    width: 40px;
    padding-left: 10px;
  }

  /*  configurações do texto da logo e do usuário*/
  .texto-topo-logo-inicial {
    line-height: 30px;
    font-size: 30px;
    margin-left: 15px;
  }

  .texto-topo-usuario {
    line-height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: left;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .icon {
    display: none;
    width: auto;
    height: auto;
  }
}