<div class="container mt-5 mb-5 horizontal-center">
  <div class="card">
    <div class="card-body">
      <h1 class="cont">Sobre nós</h1>
      <div class="topo-destaque-content">
        <article id="art-destaque">
          <h1 class="titulo">Ornamentum TECH</h1>

          <h2 class="topico">Fundação: </h2>
          <p>Fundada em 1997, a Ornamentum TECH encontra-se atualmente em 1º lugar dentre as empresas brasileiras no
            ramo de tecnologia voltadas para educação. A ideia do negócio surgiu com intuito de fornecer às escolas uma
            maior organização e adiministração no gerenciamento de turmas e alunos, além de aumentar a inclusão social
            por meio de legendas em todos os campos e leitura auditiva.
          </p>


          <h2 class="topico">Nossa Equipe: </h2>
          <p> Maria Eduarda Krutszch nossa desenvolvedora Front-End, Rodrigo Kapulka Franco desenvolvedor Back-End e
            Nicole Bauchspiess Designer e analista
          </p>
          <img src="../../../assets/_img/tela-historia/equipe dev.png" alt="" class="media-contatos">


          <h2 class="topico">Eventos: </h2>
          <p> Em 2019 a nossa empresa ganhou o prêmio Tecnology Award focado no desenvolvimento e inovação tecnológica
            que ajude e colabore com o crescimento da sociedade.
          </p>
          <img src="../../../assets/_img/tela-historia/inovacao.png" alt="" class="media-contatos">
          <p>Constantemente a Ornamentum TECH participa de eventos sociais levando a ideia para possíveis investidores,
            ou apresentando o projeto nas escolas. Somado a isso, fazemos eventos gratuitos nas instituições estudantis
            em que cursos e treinamentos são dados aos alunos, visando aumentar o interesse das crianças na área da
            tecnologia para que no futuro se tenha profissionais capacitados e interessados no meio.
          </p>


          <div class="secao-media">
            <iframe class="media-contatos" alt="Vídeo youtube da escola" width="560" height="315"
              src="https://www.youtube.com/embed/7mXzWyTGf-k" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            <img src="../../../assets/_img/tela-historia/foto-student-1.jpg" alt="" class="media-contatos">
          </div>

        </article>
      </div>
    </div>
  </div>
</div>