<div class="container mt-5 mb-5 horizontal-center">
  <div class="card">
    <div class="card-body">
      <h1 class="cont">Contatos</h1>
      <div class="topo-destaque-content">
        <article id="art-destaque">
          <h1>Maria Eduarda Krutzsch</h1>
          <p><img class="icon" src="https://img.icons8.com/fluency/344/instagram-new.png" alt="instagram">@maria.edk
          </p>
          <p><img class="icon" src="https://img.icons8.com/color/344/whatsapp--v1.png" alt="telefone">(47) 99118-0304
          </p>
          <p><img class="icon" src="https://img.icons8.com/color/344/gmail-new.png" alt="email">mekrutzsch@furb.br</p>

          <h1>Nicole Bauchspiess</h1>
          <p><img class="icon" src="https://img.icons8.com/fluency/344/instagram-new.png" alt="instagram">@bauchspiess_
          </p>
          <p><img class="icon" src="https://img.icons8.com/color/344/whatsapp--v1.png" alt="telefone">(47) 98821-0696
          </p>
          <p><img class="icon" src="https://img.icons8.com/color/344/gmail-new.png" alt="email">nbauchspiess@furb.br
          </p>

          <h1>Rodrigo K. Franco</h1>
          <p><img class="icon" src="https://img.icons8.com/fluency/344/instagram-new.png" alt="instagram">@rodrigokafra
          </p>
          <p><img class="icon" src="https://img.icons8.com/color/344/whatsapp--v1.png" alt="telefone">(47) 98482-5800
          </p>
          <p><img class="icon" src="https://img.icons8.com/color/344/gmail-new.png" alt="email">rkfranco@furb.br</p>
        </article>
      </div>
    </div>
  </div>
</div>