<div class="color-page pt-5 pb-5">
  <div class="container-pagina">
    <div class="flex-container">
      <div class="container-img">
        <div class="img-cadastro"></div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="titulo-destaque">
            <h1>Cadastro</h1>
          </div>
          <form (ngSubmit)="saveInLocalStorageAndSessionStorage()" class="mt-4">
            <div [formGroup]="formNome" class="form-group">
              <label for="nome">* Nome:</label>
              <input type="text"
                     class="form-control"
                     id="nomePessoa"
                     formControlName="nome"
                     placeholder="Insira seu nome">
            </div>
            <div [formGroup]="formEmail" class="form-group">
              <label for="email">* Email:</label>
              <input type="email"
                     class="form-control"
                     id="emailPessoa"
                     aria-describedby="emailHelp"
                     formControlName="email"
                     placeholder="email@exemplo.com">
            </div>
            <div [formGroup]="formUsuario" class="form-group">
              <label for="usuario">* Usuário:</label>
              <input type="text"
                     class="form-control"
                     id="usuarioPessoa"
                     formControlName="usuario"
                     [(ngModel)]="user"
                     placeholder="nomeUsuario">
              <small id="ajudaUsuario" class="form-text text-muted">O seu nome de usuário deve conter no mínimo 5 caracteres.</small>
            </div>
            <div [formGroup]="formSenha" class="form-group">
              <label for="senha">* Senha:</label>
              <input type="password"
                     class="form-control"
                     id="senhaPessoa"
                     formControlName="senha"
                     placeholder="Crie uma senha">
              <small id="ajudaSenha" class="form-text text-muted">A sua senha deve conter no mínimo 8 caracteres.</small>
            </div>
            <div class="d-flex justify-content-end">
              <button type="reset" class="btn btn-custom-no-highlight">Cancelar</button>
              <button (click)="setarCookie()" type="submit" class="btn btn-custom-hightlight ml-3">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
